# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IDE specific files
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### Eclipse (STS) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# Log files
*.log

# Environment variables file
.env

# Spring Boot sensitive configuration files
# Contains secrets and should not be committed to Git.
# Use template-application-local.yml as a guide for new team members.
application-local.yml
application-prod.yml