@import "./reset.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  overflow-x: hidden;
}